{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerie - YOULIVE</title>

    <link rel="icon" type="x-icon" href="{% static 'main/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}"> <!-- Lien vers le fichier CSS pour le style -->
    <script src="{% static 'main/js/app.js' %}"></script> <!-- Lien vers le fichier JavaScript pour la logique -->
</head>
<body>
    <header>
        <h1>Galerie</h1>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'index' %}">Accueil</a></li> <!-- Lien vers la page d'accueil -->
                <li class="nav-item"><a href="{% url 'Événements' %}">Événements</a></li> <!-- Lien vers la page des événements -->
                <li class="nav-item"><a href="{% url 'Galerie - YOULIVE' %}">Galerie</a></li> <!-- Lien vers la galerie -->
                <li class="nav-item"><a href="{% url 'Prestations - YOULIVE' %}">Prestations</a></li> <!-- Lien vers les prestations -->
                <li class="nav-item"><a href="{% url 'Contact - YOULIVE' %}">Contact</a></li> <!-- Lien vers les informations de contact -->
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Photos et Vidéos</h2>
        <div id="gallery">
            <!-- Les éléments de la galerie seront ajoutés ici -->
            <p>Aucune photo ou vidéo disponible pour le moment.</p>
        </div>
    </div>

    <footer>
        <p>© 2024 YOULIVE. Tous droits réservés.</p>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="footer-links">
            <a href="{% url 'Private Policy - YOULIVE' %}">Politique de confidentialité</a>
            <a href="{% url 'Terms of Service - YOULIVE' %}">Conditions d'utilisation</a>
        </div>
    </footer>

</body>
</html>
